h1,
h2 {
  text-align: center;
  font-family: cursive, Arial;
}
nav {
  font-family: cursive, Arial;
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

#main-doc {
  text-align: justify;
  font-family: Arial;
}

#text-body {
  background-color: #CDCDCD;
  margin-left: 300px;
  padding: 0px 10px;
}

.not-showing {
  list-style: none;
}
.nav-link {
  text-decoration: none;
}

@media screen and (max-width: 460px) {
  
  nav {
    height: 200px;
    overflow: hidden;
    position: absolute;
    top: 0; 
    width: 100%; 
    font-size: 12px;
  }
  #text-body {
    margin-left: 0;
    padding: 10px;
    margin-top: 200px;
    background-color: #CDCDCD;
  }
}
