#main-doc{
  text-align: center;
}

main{
/*   display: flex; */
}

nav {
  height: 100%; 
  width: 160px; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #111; 
  overflow-x: hidden; 
  padding-top: 20px;
}

#text-body{
  background-color: blue;
  margin-left: 160px; 
  padding: 0px 10px;
}

 @media screen and (max-width: 460px) {
  body {
    background-color: yellow;
  }
}